<footer class="footer" id="contact">
    <h4>Ascending <span>Star</span></h4>
    <p>Монопородный питомник ирландских красных сеттеров. Разведение собак шоу и рабочего класса мирового уровня с 2017 года.</p>
    <div class="footer-columns">
        <div>
            <h5>НАВИГАЦИЯ</h5>
            <ul>
                <li><a href="/index.html#index">О питомнике</a></li>
                <li><a href="/index.html#manufacturers">Производители</a></li>
                <li><a href="/index.html#litters">Пометы</a></li>
                <li><a href="/index.html#gallery">Галерея</a></li>
                <li><a href="/index.html#feedback">Отзывы</a></li>
            </ul>
        </div>
        <div>
            <h5>КОНТАКТЫ</h5>
            <ul class="contact-list">
                <li><img src="/asset/icon/call.svg"> +7 (908) 737-37-34</li>
                <li><a href="https://vk.com/club226073908"><img src="/asset/icon/vk.svg">Официальная группа</a></li>
                <li><a href="https://vk.com/id139028587"><img src="/asset/icon/vk.svg">Ирина Зуева</a></li>
                <li><a href="mailto:ASCENDINGSTAR@YANDEX.RU" title="Написать на почту"><img src="/asset/icon/email.svg" alt="Email">ASCENDINGSTAR@YANDEX.RU</a></li>
                <li><a href="https://2gis.ru/n_novgorod/geo/70030076277711772?m=43.267054%2C56.612955%2F19.07%2Fp%2F10.08%2Fr%2F1.84"> <img src="/asset/icon/map.svg">Нижегородская обл., Чкаловский р-н, дер. Афанасьево, д. 5</a> </li>
            </ul>
        </div>
    </div>
    <hr>
    <p>© 2026 Питомник Ascending Star. Все права защищены.</p>
</footer>