<footer class="footer" id="contact">
    <h4>Ascending <span>Star</span></h4>
    <p>Монопородный питомник ирландских красных сеттеров. Разведение собак шоу и рабочего класса мирового уровня с 2017 года.</p>
    <div class="footer-columns">
        <div>
            <h5>НАВИГАЦИЯ</h5>
            <ul>
                <li><a href="#about">О питомнике</a></li>
                <li><a href="#manufacturers">Производители</a></li>
                <li><a href="#litters">Пометы</a></li>
                <li><a href="#gallery">Галерея</a></li>
                <li><a href="#feedback">Отзывы</a></li>
            </ul>
        </div>
        <div>
            <h5>КОНТАКТЫ</h5>
            <ul class="contact-list">
                <li><img src="../asset/icon/call.svg"> +7 (908) 737-37-34</li>
                <li><a href="https://vk.com/club226073908"><img src="../asset/icon/vk.svg">Официальная группа</a></li>
                <li><a href="https://vk.com/id139028587"><img src="../asset/icon/vk.svg">Ирина Зуева</a></li>
                <li><img src="../asset/icon/email.svg">Email Ascending Star</li>
                <li><img src="../asset/icon/map.svg">Нижегородская обл., Чкаловский р-н, дер. Афанасьево, д. 5 </li>
            </ul>
        </div>
    </div>
    <hr>
    <p>© 2026 Питомник Ascending Star. Все права защищены.</p>
</footer>